<!DOCTYPE html>
<html>
<head>
<style>
#base {
	width: 2000px;
	height: 1050px;
	background: url('/desktop.jpg');
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
</style>
</head>
<body>

	<!-- Takeover -->
	<link rel="stylesheet" href="/css/takeover.css">
	<div id="base"></div>
	<div id="takeover">
		<div id="close-takeover-btn">
			<span></span>
			<span></span>
		</div>
		<div id="trophy-hoist"></div>
		<div id="confetti-container">
			<svg id="confettiPiece1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="131px"
		 height="100px" viewBox="0 0 130.936 99.147" xml:space="preserve">
				<linearGradient id="c1g1" gradientUnits="userSpaceOnUse" x1="12.5923" y1="536.4092" x2="22.5386" y2="546.709" gradientTransform="matrix(1 0 0 -1 0 614)">
					<stop  offset="0" style="stop-color:#A9762A"/>
					<stop  offset="0.4233" style="stop-color:#FED277"/>
					<stop  offset="0.6564" style="stop-color:#FACD71"/>
					<stop  offset="1" style="stop-color:#E9B343"/>
				</linearGradient>
				<path fill="url(#c1g1)" d="M0,64.845c1.885,2.622,13.64,13.875,18.578,18.108c5.409,0,12.464-1.176,16.461-2.822
					c-7.525-6.82-20.208-19.805-22.341-22.342C9.642,60.847,3.527,64.139,0,64.845z"/>
				<linearGradient id="c1g2" gradientUnits="userSpaceOnUse" x1="63.7583" y1="572.9131" x2="74.0918" y2="565.9431" gradientTransform="matrix(1 0 0 -1 0 614)">
					<stop  offset="0" style="stop-color:#A9762A"/>
					<stop  offset="0.4233" style="stop-color:#FED277"/>
					<stop  offset="0.6564" style="stop-color:#FACD71"/>
					<stop  offset="1" style="stop-color:#E9B343"/>
				</linearGradient>
				<path fill="url(#c1g2)" d="M67.568,35.638c-2.116,3.668-5.409,8.136-7.525,10.958c2.352,1.646,6.35,3.998,10.113,5.879
					c2.352-2.587,5.174-5.409,6.35-8.701C73.213,41.658,70.156,38.13,67.568,35.638z"/>
				<linearGradient id="c1g3" gradientUnits="userSpaceOnUse" x1="36.4541" y1="604.0078" x2="48.946" y2="608.0667" gradientTransform="matrix(1 0 0 -1 0 614)">
					<stop  offset="0" style="stop-color:#8E8D8D"/>
					<stop  offset="0.2086" style="stop-color:#9A9A9A"/>
					<stop  offset="0.5644" style="stop-color:#989898"/>
					<stop  offset="1" style="stop-color:#404040"/>
				</linearGradient>
				<path fill="url(#c1g3)" d="M33.352,0.333c1.667,6,5.667,13.667,7,18.333c3,0.333,6.333-1.333,11-4.333
					C50.352,10,47.685,4,47.018,0C44.018,1,37.685,1,33.352,0.333z"/>
				<linearGradient id="c1g4" gradientUnits="userSpaceOnUse" x1="120.8081" y1="570.1416" x2="114.0226" y2="558.8486" gradientTransform="matrix(1 0 0 -1 0 614)">
					<stop  offset="0" style="stop-color:#8E8D8D"/>
					<stop  offset="0.1656" style="stop-color:#9A9A9A"/>
					<stop  offset="0.3497" style="stop-color:#989898"/>
					<stop  offset="1" style="stop-color:#404040"/>
				</linearGradient>
				<path fill="url(#c1g4)" d="M103.158,48.389c4.104,2.273,13.637,7.386,20.518,12.562c3.093-1.957,6.438-6.628,7.26-10.731
					c-4.23-3.156-14.078-8.648-20.265-11.047C108.777,43.402,105.621,46.053,103.158,48.389z"/>
				<linearGradient id="c1g5" gradientUnits="userSpaceOnUse" x1="61.5967" y1="521.6045" x2="71.1158" y2="526.4547" gradientTransform="matrix(1 0 0 -1 0 614)">
					<stop  offset="0" style="stop-color:#8E8D8D"/>
					<stop  offset="0.1656" style="stop-color:#9A9A9A"/>
					<stop  offset="0.3497" style="stop-color:#989898"/>
					<stop  offset="1" style="stop-color:#404040"/>
				</linearGradient>
				<path fill="url(#c1g5)" d="M58.496,84.365c1.582,2.928,3.758,10.84,6.919,14.782c1.784-1.331,5.463-2.558,8.333-3.333
					c-1.921-3.576-4.019-8.086-4.295-11.528C65.498,84.721,61.107,84.444,58.496,84.365z"/>
			</svg>
			<svg id="confettiPiece2" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="102px"
		 height="95px" viewBox="0 0 101.389 94.395" xml:space="preserve">
				<linearGradient id="c2g1" gradientUnits="userSpaceOnUse" x1="82.7095" y1="594.6865" x2="99.2936" y2="596.1375" gradientTransform="matrix(1 0 0 -1 0 614)">
					<stop  offset="0" style="stop-color:#8A6026"/>
					<stop  offset="0.4908" style="stop-color:#F7C153"/>
					<stop  offset="0.8528" style="stop-color:#FFCE6D"/>
					<stop  offset="1" style="stop-color:#FFE09F"/>
				</linearGradient>
				<path fill="url(#c2g1)" d="M82.969,10.695c-0.166,2.814,0.91,12.666,0.579,18.212c3.726-1.573,10.927-2.897,14.735-1.159
					c0.648-8.104,0.391-15,0.332-17.633C93.234,7.714,87.025,8.957,82.969,10.695z"/>
				<linearGradient id="c2g2" gradientUnits="userSpaceOnUse" x1="203.729" y1="147.6094" x2="219.9639" y2="149.0297" gradientTransform="matrix(0.2792 0.9602 0.9602 -0.2792 -155.334 -104.1792)">
					<stop  offset="0" style="stop-color:#D8A232"/>
					<stop  offset="0.3067" style="stop-color:#FFCA60"/>
					<stop  offset="0.6012" style="stop-color:#FFCF70"/>
					<stop  offset="1" style="stop-color:#D09A2C"/>
				</linearGradient>
				<path fill="url(#c2g2)" d="M52.06,46.856c-3.25,1.5-12.25,5.5-18.75,7.25c3.5,4.25,6.5,10.5,7,14c7.25-1,14.5-5.5,17.5-9
					C56.81,54.606,54.861,50.267,52.06,46.856z"/>
				<linearGradient id="c2g3" gradientUnits="userSpaceOnUse" x1="84.9043" y1="530.2852" x2="101.506" y2="529.7054" gradientTransform="matrix(1 0 0 -1 0 614)">
					<stop  offset="0" style="stop-color:#7C7C7C"/>
					<stop  offset="0.2577" style="stop-color:#9A9A9A"/>
					<stop  offset="0.5644" style="stop-color:#989898"/>
					<stop  offset="1" style="stop-color:#5B5B5B"/>
				</linearGradient>
				<path fill="url(#c2g3)" d="M85.316,75.11c-0.247,5.439-0.741,12.857-0.494,18.791c2.967-2.473,10.137-3.215,16.318,0.494
					c0.248-4.945,0.248-13.352,0.248-18.297C97.432,73.626,89.768,72.885,85.316,75.11z"/>
				<linearGradient id="c2g4" gradientUnits="userSpaceOnUse" x1="12.4434" y1="612.6113" x2="4.8532" y2="584.2844" gradientTransform="matrix(1 0 0 -1 0 614)">
					<stop  offset="0" style="stop-color:#414141"/>
					<stop  offset="0.3681" style="stop-color:#919191"/>
					<stop  offset="0.6687" style="stop-color:#989898"/>
					<stop  offset="1" style="stop-color:#636363"/>
				</linearGradient>
				<path fill="url(#c2g4)" d="M2,0.276c0.5,5-0.125,20.25-2,27.625c4.875,0.25,9.875,2.125,14.875,4.5c1.625-6,2.75-21.5,1.75-29
					C13.5,1.151,5.5-0.724,2,0.276z"/>
			</svg>
			<svg id="confettiPiece3" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="86px"
		 height="68px" viewBox="0 0 85.953 67.871" xml:space="preserve">
		 		<linearGradient id="c3g1" gradientUnits="userSpaceOnUse" x1="1031.7861" y1="-143.9438" x2="1025.5513" y2="-127.8213" gradientTransform="matrix(-0.9776 -0.2103 -0.2103 0.9776 1039.9912 357.0068)">
					<stop  offset="0" style="stop-color:#EFB84A"/>
					<stop  offset="0.2209" style="stop-color:#FFD274"/>
					<stop  offset="0.5031" style="stop-color:#FFCF70"/>
					<stop  offset="1" style="stop-color:#775220"/>
				</linearGradient>
				<path fill="url(#c3g1)" d="M70.553,15.333c-0.354-4.128-0.707-10.025-0.59-14.979C64.561,1.416,59.701,0.707,56.871,0
					c-1.062,4.128-1.298,10.733-1.062,14.861C58.641,15.569,67.25,15.923,70.553,15.333z"/>
				<linearGradient id="c3g2" gradientUnits="userSpaceOnUse" x1="1059.1465" y1="-95.6748" x2="1050.4227" y2="-73.1163" gradientTransform="matrix(-0.9776 -0.2103 -0.2103 0.9776 1039.9912 357.0068)">
					<stop  offset="0" style="stop-color:#EFB84A"/>
					<stop  offset="0.2822" style="stop-color:#EDB748"/>
					<stop  offset="0.589" style="stop-color:#D6A030"/>
					<stop  offset="1" style="stop-color:#755421"/>
				</linearGradient>
				<path fill="url(#c3g2)" d="M30.125,64.314c1.125-4.25,3.5-8,5.625-11.375c-2.875-4-7.125-9.25-9.5-12.5
					c-2.375,2.625-6.75,10.25-8,17.5C19.625,59.189,23.875,63.439,30.125,64.314z"/>
				<linearGradient id="c3g3" gradientUnits="userSpaceOnUse" x1="-184.0269" y1="119.7197" x2="-170.3141" y2="120.0895" gradientTransform="matrix(0.5069 0.862 0.862 -0.5069 59.0156 270.9468)">
					<stop  offset="0" style="stop-color:#373636"/>
					<stop  offset="0.3681" style="stop-color:#787878"/>
					<stop  offset="0.7669" style="stop-color:#878787"/>
					<stop  offset="1" style="stop-color:#A4A4A4"/>
				</linearGradient>
				<path fill="url(#c3g3)" d="M78.641,45.933c-5.544,4.011-13.801,9.2-20.405,12.385c2.005,1.888,5.779,6.016,7.194,9.554
					c5.662-2.477,14.566-6.305,20.523-10.969C84.303,51.83,81.912,47.659,78.641,45.933z"/>
				<linearGradient id="c3g4" gradientUnits="userSpaceOnUse" x1="-243.7769" y1="89.2266" x2="-251.8351" y2="83.254" gradientTransform="matrix(0.5069 0.862 0.862 -0.5069 59.0156 270.9468)">
					<stop  offset="0" style="stop-color:#393834"/>
					<stop  offset="0.3681" style="stop-color:#717171"/>
					<stop  offset="0.7669" style="stop-color:#989798"/>
					<stop  offset="1" style="stop-color:#8B8B8B"/>
				</linearGradient>
				<path fill="url(#c3g4)" d="M6.5,4.939c-2.25,3.5-4.25,8.875-6.5,14.5c2.375-0.375,6.375-0.125,10.625,0.25
					c0.625-3,2.875-7.875,4.375-11.375C11.875,5.314,7.875,5.314,6.5,4.939z"/>
			</svg>
		</div>
		<div id="finalframe">
			<div class="bg"></div>
			<div class="cta"></div>
			<div class="trophy"></div>
			<div class="video">
				<div class="watch-btn">
					<span></span>
				</div>
				<div class="close-btn">
					<span></span>
					<span></span>
				</div>
				<div class="play-btn">
					<span></span>
					<span></span>
				</div>
				<video>
					<source src="A001C041_141123_R44F.mp4" type="video/mp4" />
				</video>
			</div>
		</div>
		<div id="panels">
			<div class="portland-close">
				<div class="portland-open">
					<div class="portland"></div>
				</div>
			</div>
			<div class="dallas-close">
				<div class="dallas-open">
					<div class="dallas"></div>
				</div>
			</div>
		</div>
		<div id="logos">
			<div class="portland">
				<div class="out"></div>
			</div>
			<div class="dallas">
				<div class="out"></div>
			</div>
		</div>
		<div id="anim-text">
			<div class="one">
				<div class="out"></div>
			</div>
			<div class="game">
				<div class="out"></div>
			</div>
			<div class="toglory">
				<div class="out"></div>
			</div>
		</div>
	</div>
	<script>
	var takeover = document.getElementById('takeover'),
		confetti = document.getElementById('confetti-container'),
		confettiPieces = [
			document.getElementById('confettiPiece1'),
			document.getElementById('confettiPiece2'),
			document.getElementById('confettiPiece3')
		],
		confettiCount = 500,
		videoContainer = document.getElementById('finalframe').querySelector('.video'),
		videoTag = videoContainer.querySelector('video'),
		openVideoBtn = videoContainer.querySelector('.watch-btn'),
		closeVideoBtn = videoContainer.querySelector('.close-btn'),
		playVideoBtn = videoContainer.querySelector('.play-btn'),
		closeTakeoverBtn = document.getElementById('close-takeover-btn');
	function createConfetti(){
		var piece = document.createElement('div'),
			ver = document.createElement('div'),
			hor = document.createElement('div'),
			rot = document.createElement('div'),
			svg = confettiPieces[ Math.floor(Math.random() * 3) ].cloneNode(true);
		piece.className = 'piece';
		rot.appendChild(svg);
		ver.appendChild(hor);
		hor.appendChild(rot);
		piece.appendChild(ver);
		rot.className = 'piece-rot'+Math.ceil(Math.random() * 6);
		ver.className = 'piece-ver'+Math.ceil(Math.random() * 6);
		hor.className = 'piece-hor'+Math.ceil(Math.random() * 6);
		confetti.appendChild(piece);
		piece.style.left = Math.floor(Math.random() * 100) + 'vw';
		piece.style.top = (Math.floor(Math.random() * 100) + 150) + 'vh';
	}
	while(confettiCount > 0) {
		createConfetti();
		confettiCount--;
	}
	openVideoBtn.addEventListener('click', function(){
		videoContainer.className = 'video playing';
		playVideoBtn.style.display = 'block';
	}, false);
	closeVideoBtn.addEventListener('click', function(){
		videoContainer.className = 'video';
		videoTag.removeAttribute('controls');
		videoTag.pause();
		videoTag.currentTime = 0;
		playVideoBtn.style.display = 'none';
	}, false);
	playVideoBtn.addEventListener('click', function(){
		videoTag.setAttribute('controls', '');
		playVideoBtn.style.display = 'none';
		videoTag.play();
	}, false);
	closeTakeoverBtn.addEventListener('click', function(){
		takeover.parentNode.removeChild(takeover);
	}, false);
	</script>
</body>
</html>